
@page "/post/{id}"
@using shared.Model;
@using redditblazor.Service;


@inject ApiService apiservice

<style>
    div.contents {
        background-color: #f2f0eb;
        width: 600px;
        border: 2px solid #452d3d;
        padding: 20px;
        margin-top: 20px;
    }
</style>

@if (SelectedPost == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="contents">
    <h4>Title: @SelectedPost.Title</h4>
    <p><strong>Date: @SelectedPost.Date</strong></p>
    <p><strong>User: @SelectedPost.User.Username</strong></p>
    <p><strong>Votes: @(SelectedPost.Downvote + SelectedPost.Upvote)</strong></p>
    <p>@SelectedPost.Text</p>
</div>

    <div class="contents">
        <h4>Comments</h4>
        <table>
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Comment</th>
                <th colspan="3">Votes</th>
            </tr>
            @foreach (var comment in SelectedPost.Comments)
            {
                <tr>
                    <td>@comment.Date</td>
                    <td>@comment.User.Username</td>
                    <td>@comment.Text</td>
                    <td>@(comment.Downvote + comment.Upvote)</td>
                  
                </tr>
            }
        </table>
    </div>

    <!-- This demonstrates how to pass in PostId to the component 'CreateComment'. See how
       it is used in the file CreateComment.razor -->
    <CreateComment PostId=@SelectedPost.PostId></CreateComment>
}

@code {
    [Parameter]
    public string Id { get; set; }
    public int PostId { get { return int.Parse(Id); } }
    public Post SelectedPost { get; set; }

    protected override async Task OnInitializedAsync()
    {
        SelectedPost = await apiservice.GetPost(PostId);
    }
    private async void Upvote(int id)
    {
        var updatedUpvote = await apiservice.UpvotePost(id);
    }

    private async void Downvote(int id)
    {
        var updatedDownvote = await apiservice.DownvotePost(id);
    }
}